{% load hris_ui %}
{% if show_admin_nav %}
<a href="{% url 'web:manage_hub' %}" class="hris-nav-link hris-nav-link--admin-hub{% if request.path == '/manage/' %} is-active{% endif %}">
  {% nav_icon "manage_hub" %}
  Admin Console
</a>
{% for app in admin_nav_apps %}
<div class="hris-nav-section hris-nav-section--admin">
  <div class="hris-nav-label">{{ app.section }}</div>
  {% for item in app.items %}
  <a href="{{ item.url }}" class="hris-nav-link hris-nav-link--admin{% if '/manage/' in request.path and request.resolver_match.kwargs.slug|default:'' == item.slug %} is-active{% endif %}">
    {% nav_icon item.slug %}
    {{ item.label }}
  </a>
  {% endfor %}
</div>
{% endfor %}
{% endif %}
